<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netcode Workbench - visual console to test game state synchronization algorithms</title>
	<meta name="keywords" content="netcode,network,game,state,sync,algorithm,prediction,interpolation,reconciliation,latency,lag,debug,console,p2p,client,server" />
	<meta name="description" content="Visual console to test game state synchronization algorithms with latency, packet loss, p2p, client/server, client side prediction, interpolation/extrapolation, etc." />
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide {
            display: none !important;
        }
    </style>
</head>

<body class="ng-cloak" data-ng-controller="mainCtrl">
    <!-- CONTROL PANEL -->
    <div id="controlPanel">
        <table class="striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Property">Algorithm</td>
                    <td data-label="Value">
                        <select id="selAlgorithm" class="input-small" data-ng-model="info.algorithm"
                            data-ng-options="item as item.name for item in info.netcodes"
                            data-ng-change="changeAlgorithm()" data-ng-disabled="info.btnStopEnabled">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Serializer</td>
                    <td data-label="Value">
                        <select id="selSerializer" class="input-small" data-ng-model="info.serializer"
                            data-ng-options="item as item.name for item in info.serializers"
                            data-ng-disabled="info.btnStopEnabled">
                        </select>
                    </td>
                </tr>
                <tr data-ng-if="info.algorithm.type === 'custom'">
                    <td colspan="2" class="center-text">
                        <input type="text" id="txtAlgorithmUrl" class="input-large" data-ng-model="info.algorithmUrl" placeholder="Algorithm URL" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Tick (ms)</td>
                    <td data-label="Value"><input id="txtTick" class="input-small" type="number" min="10" max="999" maxlength="3"
                        data-ng-model="info.tick" data-ng-disabled="info.btnStopEnabled"/></td>
                </tr>
                <tr>
                    <td data-label="Property">NPCs</td>
                    <td data-label="Value"><input type="number" class="input-small" min="0" max="10" maxlength="2" id="txtNPCs"
                        data-ng-model="info.npcs" data-ng-disabled="info.btnStopEnabled"/></td>
                </tr>
                <tr>
                    <td data-label="Property">Smoothing</td>
                    <td data-label="Value"><input id="cbInterpolation" type="checkbox" data-ng-model="info.interpolation"
                        data-ng-change="changeInterpolation()" /></td>
                </tr>
                <tr>
                    <td data-label="Property">Debug boxes</td>
                    <td data-label="Value"><input id="cbDebugBoxes" type="checkbox" data-ng-model="info.debugBoxes"
                        data-ng-change="changeDebugBoxes()" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="center-text"><strong>Player 1 Network</strong></td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Min (ms)</td>
                    <td data-label="Value"><input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMinLatency1" 
                        data-ng-model="info.latency1.min" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Max (ms)</td>
                    <td data-label="Value">
                    <input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMaxLatency1" 
                        data-ng-model="info.latency1.max" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Packet Loss %</td>
                    <td data-label="Value">
                    <input type="number" class="input-small" min="0" max="100" maxlength="3" id="txtPacketLoss1" 
                        data-ng-model="info.packetLoss1" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center-text"><strong>Player 2 Network</strong></td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Min (ms)</td>
                    <td data-label="Value"><input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMinLatency2" 
                        data-ng-model="info.latency2.min" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Max (ms)</td>
                    <td data-label="Value">
                    <input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMaxLatency2" 
                        data-ng-model="info.latency2.max" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Packet Loss %</td>
                    <td data-label="Value">
                    <input type="number" class="input-small" min="0" max="100" maxlength="3" id="txtPacketLoss2" 
                        data-ng-model="info.packetLoss2" data-ng-disabled="info.btnStopEnabled"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center-text"><strong>Realtime info (hurts performance)</strong></td>
                </tr>
                <tr>
                    <td data-label="Property">Game States</td>
                    <td data-label="Value"><input id="cbGameStates" type="checkbox" data-ng-model="info.realtimeGameStates"/></td>
                </tr>
                <tr>
                    <td data-label="Property">Logs</td>
                    <td data-label="Value"><input id="cbLogs" type="checkbox" data-ng-model="info.realtimeLogs"/></td>
                </tr>
            </tbody>
        </table>
        <div class="button-group">
            <button data-ng-click="stop()" data-ng-if="info.btnStopEnabled" class="tooltip" aria-label="Stop"><i class="fas fa-stop"></i></button>
            <button data-ng-click="play()" data-ng-if="info.btnPlayEnabled" class="tooltip" aria-label="Start"><i class="fas fa-play"></i></button>
            <button data-ng-click="saveAll()" data-ng-if="info.btnSaveEnabled" class="tooltip" aria-label="Download"><i class="fas fa-download"></i></button>
            <button data-ng-click="resetLayout()" class="tooltip" aria-label="Reset Layout"><i class="far fa-window-restore"></i></button>
        </div>
    </div>
    <!-- PLAYER 1 -->
    <div id="player1GameStates" class="gameState">
        <div data-ng-if="!info.playing" class="card" data-ng-repeat="item in info.gamestatesPlayer1 track by $index">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players track by player.id">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Scores: <span data-ng-repeat="player in item.players | filter : {score : '!!'} track by player.id">P{{player.id}}:{{::player.score}} 
                </span>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands track by command.playerId">P{{::command.playerId}}:{{::command.value}} 
                </span>
            </div>
        </div>
        <div data-ng-if="info.playing && info.realtimeGameStates" class="card" data-ng-repeat="item in [info.gamestatesPlayer1[0]] track by item.tick">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players track by player.id">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Scores: <span data-ng-repeat="player in item.players | filter : {score : '!!'} track by player.id">P{{player.id}}:{{::player.score}} 
                </span>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands track by command.playerId">P{{::command.playerId}}:{{::command.value}} 
                </span>
            </div>
        </div>
    </div>
    <div id="player1Canvas">
        <div class="center-text">Control keys: W S A D</div>
        <canvas id="player1GameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="player1Logs">
        <p data-ng-if="!info.playing" data-ng-repeat="trace in info.logsPlayer1 track by trace.id" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
        <p data-ng-if="info.playing && info.realtimeLogs" data-ng-repeat="trace in [info.logsPlayer1[0]] track by trace.id" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <!-- PLAYER 2 -->
    <div id="player2GameStates" class="gameState">
        <div data-ng-if="!info.playing" class="card" data-ng-repeat="item in info.gamestatesPlayer2 track by $index">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players track by player.id">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Scores: <span data-ng-repeat="player in item.players | filter : {score : '!!'} track by player.id">P{{player.id}}:{{::player.score}} 
                </span>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands track by command.playerId">P{{::command.playerId}}:{{::command.value}} 
                </span>
            </div>
        </div>
        <div data-ng-if="info.playing && info.realtimeGameStates" class="card" data-ng-repeat="item in [info.gamestatesPlayer2[0]] track by item.tick">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players track by player.id">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Scores: <span data-ng-repeat="player in item.players | filter : {score : '!!'} track by player.id">P{{player.id}}:{{::player.score}} 
                </span>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands track by command.playerId">P{{::command.playerId}}:{{::command.value}} 
                </span>
            </div>
        </div>
    </div>
    <div id="player2Canvas">
        <div class="center-text">Control keys: <i class="fas fa-arrow-up"></i> <i class="fas fa-arrow-down"></i> <i
                class="fas fa-arrow-left"></i> <i class="fas fa-arrow-right"></i></div>
        <canvas id="player2GameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="player2Logs">
        <p data-ng-if="!info.playing" data-ng-repeat="trace in info.logsPlayer2 track by trace.id" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
        <p data-ng-if="info.playing && info.realtimeLogs" data-ng-repeat="trace in [info.logsPlayer2[0]] track by trace.id" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <!-- SERVER -->
    <div id="serverGameStates" class="gameState">
        <div data-ng-if="!info.playing" class="card" data-ng-repeat="item in info.gamestatesServer track by $index">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players track by player.id">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Scores: <span data-ng-repeat="player in item.players | filter : {score : '!!'} track by player.id">P{{player.id}}:{{::player.score}} 
                </span>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands track by command.playerId">P{{::command.playerId}}:{{::command.value}} 
                </span>
            </div>
        </div>
        <div data-ng-if="info.playing && info.realtimeGameStates" class="card" data-ng-repeat="item in [info.gamestatesServer[0]] track by item.tick">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players track by player.id">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Scores: <span data-ng-repeat="player in item.players | filter : {score : '!!'} track by player.id">P{{player.id}}:{{::player.score}} 
                </span>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands track by command.playerId">P{{::command.playerId}}:{{::command.value}} 
                </span>
            </div>
        </div>
    </div>
    <div id="serverCanvas">
        <canvas id="serverGameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="serverLogs">
        <p data-ng-if="!info.playing" data-ng-repeat="trace in info.logsServer track by trace.id" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
        <p data-ng-if="info.playing && info.realtimeLogs" data-ng-repeat="trace in [info.logsServer[0]] track by trace.id" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <!-- TRAFFIC CHART -->
    <div id="trafficChart"></div>
    <div data-ng-if="info.showSpinner" class="loading"><div class="loader"></div></div>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>