<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netcode Workbench</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide {
            display: none !important;
        }
    </style>
</head>
<body class="ng-cloak" data-ng-controller="mainCtrl">
    <div id="controlPanel">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        <label for="selAlgorithm">Algorithm</label>
                        <select id="selAlgorithm" data-ng-model="info.algorithm">
                            <option>naive</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="txtTick">Tick (ms)</label>
                        <input type="number" min="10" max="999" maxlength="3" id="txtTick" class="input-small"
                            data-ng-model="info.tick" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <label for="txtLatency">Latency (ms)</label>
                    <input type="number" min="0" max="9999" maxlength="4" id="txtMinLatency" class="input-small"
                        data-ng-model="info.latency.min" /> -
                    <input type="number" min="0" max="9999" maxlength="4" id="txtMaxLatency" class="input-small"
                        data-ng-model="info.latency.max" />
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="button-group">
                    <button data-ng-click="stop()" data-ng-if="info.btnStopEnabled"><i class="fas fa-stop"></i></button>
                    <button data-ng-click="play()" data-ng-if="info.btnPlayEnabled"><i class="fas fa-play"></i></button>
                    <button data-ng-click="saveAll()" data-ng-if="info.btnSaveEnabled"><i
                            class="fas fa-download"></i></button>
                </div>
            </div>
            <div class="col-sm">
                <input id="cbInterpolation" type="checkbox" data-ng-model="info.interpolation"
                    data-ng-change="changeInterpolation()" />
                <label for="cbGameStates">Interpolation</label>
                <legend>Realtime info (hurts performance)</legend>
                <input id="cbGameStates" type="checkbox" data-ng-model="info.realtimeGameStates"
                    data-ng-change="checkRealtimeInfo()" />
                <label for="cbGameStates">Game States</label>
                <input id="cbLogs" type="checkbox" data-ng-model="info.realtimeLogs"
                    data-ng-change="checkRealtimeInfo()" />
                <label for="cbLogs">Logs</label>
            </div>
        </div>
    </div>
    <div id="player1GameStates">
        <div class="card" data-ng-repeat="item in info.gamestatesPlayer1">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands">P{{::command.playerId}}:{{::command.value}}
                </span>
            </div>
        </div>
    </div>
    <div id="player1Canvas">
        <div class="center-text">Control keys: W S A D</div>
        <canvas id="player1GameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="player1Logs">
        <p data-ng-repeat="trace in info.logsPlayer1" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <div id="player2GameStates">
        <div class="card" data-ng-repeat="item in info.gamestatesPlayer2">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands">P{{::command.playerId}}:{{::command.value}}
                </span>
            </div>
        </div>
    </div>
    <div id="player2Canvas">
        <div class="center-text">Control keys: <i class="fas fa-arrow-up"></i> <i class="fas fa-arrow-down"></i> <i
                class="fas fa-arrow-left"></i> <i class="fas fa-arrow-right"></i></div>
        <canvas id="player2GameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="player2Logs">
        <p data-ng-repeat="trace in info.logsPlayer2" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <script type="module" src="/src/main.ts"></script>
</body>
</html>