<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netcode Workbench</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide {
            display: none !important;
        }
    </style>
</head>

<body class="ng-cloak" data-ng-controller="mainCtrl">
    <!-- CONTROL PANEL -->
    <div id="controlPanel">
        <table class="striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Property">Algorithm</td>
                    <td data-label="Value">
                        <select id="selAlgorithm" class="input-small" data-ng-model="info.algorithm" data-ng-options="item as item.name for item in info.netcodes" data-ng-change="changeAlgorithm()">
                    </select></td>
                </tr>
                <tr>
                    <td data-label="Property">Tick (ms)</td>
                    <td data-label="Value"><input id="txtTick" class="input-small" type="number" min="10" max="999" maxlength="3"
                        data-ng-model="info.tick" /></td>
                </tr>
                <tr>
                    <td data-label="Property">NPCs</td>
                    <td data-label="Value"><input type="number" class="input-small" min="0" max="10" maxlength="2" id="txtNPCs"
                        data-ng-model="info.npcs" /></td>
                </tr>
                <tr>
                    <td data-label="Property">Smoothing</td>
                    <td data-label="Value"><input id="cbInterpolation" type="checkbox" data-ng-model="info.interpolation"
                        data-ng-change="changeInterpolation()" /></td>
                </tr>
                <tr>
                    <td data-label="Property">Debug boxes</td>
                    <td data-label="Value"><input id="cbDebugBoxes" type="checkbox" data-ng-model="info.debugBoxes"
                        data-ng-change="changeDebugBoxes()" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="center-text"><strong>Player 1 Latency</strong></td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Min (ms)</td>
                    <td data-label="Value"><input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMinLatency1" 
                        data-ng-model="info.latency1.min" />
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Max (ms)</td>
                    <td data-label="Value">
                    <input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMaxLatency1" 
                        data-ng-model="info.latency1.max" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center-text"><strong>Player 2 Latency</strong></td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Min (ms)</td>
                    <td data-label="Value"><input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMinLatency2" 
                        data-ng-model="info.latency2.min" />
                    </td>
                </tr>
                <tr>
                    <td data-label="Property">Latency Max (ms)</td>
                    <td data-label="Value">
                    <input type="number" class="input-small" min="0" max="9999" maxlength="4" id="txtMaxLatency2" 
                        data-ng-model="info.latency2.max" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center-text"><strong>Realtime info (hurts performance)</strong></td>
                </tr>
                <tr>
                    <td data-label="Property">Game States</td>
                    <td data-label="Value"><input id="cbGameStates" type="checkbox" data-ng-model="info.realtimeGameStates"
                        data-ng-change="checkRealtimeInfo()" /></td>
                </tr>
                <tr>
                    <td data-label="Property">Logs</td>
                    <td data-label="Value"><input id="cbLogs" type="checkbox" data-ng-model="info.realtimeLogs"
                        data-ng-change="checkRealtimeInfo()" /></td>
                </tr>
            </tbody>
        </table>
        <div class="button-group">
            <button data-ng-click="stop()" data-ng-if="info.btnStopEnabled"><i class="fas fa-stop"></i></button>
            <button data-ng-click="play()" data-ng-if="info.btnPlayEnabled"><i class="fas fa-play"></i></button>
            <button data-ng-click="saveAll()" data-ng-if="info.btnSaveEnabled"><i class="fas fa-download"></i></button>
        </div>
    </div>
    <!-- PLAYER 1 -->
    <div id="player1GameStates" class="gameState">
        <div class="card" data-ng-repeat="item in info.gamestatesPlayer1">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands">P{{::command.playerId}}:{{::command.value}}
                </span>
            </div>
        </div>
    </div>
    <div id="player1Canvas">
        <div class="center-text">Control keys: W S A D</div>
        <canvas id="player1GameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="player1Logs">
        <p data-ng-repeat="trace in info.logsPlayer1" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <!-- PLAYER 2 -->
    <div id="player2GameStates" class="gameState">
        <div class="card" data-ng-repeat="item in info.gamestatesPlayer2">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands">P{{::command.playerId}}:{{::command.value}}
                </span>
            </div>
        </div>
    </div>
    <div id="player2Canvas">
        <div class="center-text">Control keys: <i class="fas fa-arrow-up"></i> <i class="fas fa-arrow-down"></i> <i
                class="fas fa-arrow-left"></i> <i class="fas fa-arrow-right"></i></div>
        <canvas id="player2GameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="player2Logs">
        <p data-ng-repeat="trace in info.logsPlayer2" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <!-- SERVER -->
    <div id="serverGameStates" class="gameState">
        <div class="card" data-ng-repeat="item in info.gamestatesServer">
            <div class="section">Tick: {{::item.tick}}</div>
            <div class="section">
                <div class="small-text" data-ng-repeat="player in item.players">P{{::player.id}} [{{::player.x}} ,
                    {{::player.y}}]</div>
            </div>
            <div class="section">
                Commands: <span data-ng-repeat="command in item.commands">P{{::command.playerId}}:{{::command.value}}
                </span>
            </div>
        </div>
    </div>
    <div id="serverCanvas">
        <canvas id="serverGameArea" class="gameArea" width="300px" height="250px"></canvas>
    </div>
    <div id="serverLogs">
        <p data-ng-repeat="trace in info.logsServer" class="logs"
            data-ng-class="::trace.level == 'INFO' ? 'log_info' : trace.level == 'WARN' ? 'log_warn' : 'log_error'">
            {{::trace.timestamp | date: 'HH:mm:ss.sss'}} {{::trace.text}}</p>
    </div>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>