html,
body,
canvas {
  width: 100%;
  height: 100%;
}
.gameArea {
  width: 300px;
  height: 250px;
  border: 1px solid;
  margin: 0;
  position: absolute;
  top: calc(100% - 256px);
  left: calc((100% - 302px) / 2);

}
.gameState div, .gameState span {
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  white-space:nowrap;
}
.gameStateError {
	border: 1px solid red;
}
.logs {
  font-family: 'Courier New', monospace;
  font-size: 0.8em;
  white-space:nowrap;
  margin: 0;
}
.log_info {
  color: black;
}
.log_warn {
  color: darkgoldenrod;
}
.log_error {
  color: brown;
}
.center-text {
  text-align: center !important;
}
.input-small {
  padding:0;
  font-size: 0.9em;
}
.input-large {
  padding:0;
  font-size: 0.9em;
  width: 90%;
}
.small-text {
  font-size: 0.9em;
}
option {
  font-size: 0.9em;
}
.card {
  max-width: calc(100% - 16px);
}
.toolbar-icon {
  color: white;
}
table {
  margin: 2px;
  max-height: 85vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
table th, table td {
  padding: 2px;
  font-size: 0.9em;
}
table th:first-of-type, table td:first-of-type {
  text-align: right;
}
table th:nth-of-type(2), table td:nth-of-type(2) {
  text-align: left;
}
.loading {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: white;
  z-index: 1000;
  opacity: 0.8;

}
.loader{
  font-size:10px;
  top:40%;
  left:40%;
 text-indent:-9999em;
 width:11em;
 height:11em;
 border-radius:50%;
 background:#d8d9b9;
 background:-moz-linear-gradient(left,#d8d9b9 10%,rgba(216,217,185,0) 42%);
 background:-webkit-linear-gradient(left,#d8d9b9 10%,rgba(216,217,185,0) 42%);
 background:-o-linear-gradient(left,#d8d9b9 10%,rgba(216,217,185,0) 42%);
 background:-ms-linear-gradient(left,#d8d9b9 10%,rgba(216,217,185,0) 42%);
 background:linear-gradient(to right,#d8d9b9 10%,rgba(216,217,185,0) 42%);
 position:relative;
 -webkit-animation:load3 1.4s infinite linear;
 animation:load3 1.4s infinite linear
}
.loader:after,.loader:before{
 content:'';
 position:absolute;
 top:0;
 left:0
}
.loader:before{
 width:50%;
 height:50%;
 background:#d8d9b9;
 border-radius:100% 0 0
}
.loader:after{
 background:white;
 width:75%;
 height:75%;
 border-radius:50%;
 margin:auto;
 bottom:0;
 right:0
}
@-webkit-keyframes load3{
 0%{
   -webkit-transform:rotate(0);
   transform:rotate(0)
 }
 100%{
   -webkit-transform:rotate(360deg);
   transform:rotate(360deg)
 }
}
@keyframes load3{
 0%{
   -webkit-transform:rotate(0);
   transform:rotate(0)
 }
 100%{
   -webkit-transform:rotate(360deg);
   transform:rotate(360deg)
 }
}

.uplot,
.uplot *,
.uplot *::before,
.uplot *::after {
	box-sizing: border-box;
}

.uplot {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
	width: min-content;
}

.u-title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.u-wrap {
	position: relative;
	user-select: none;
}

.u-over,
.u-under {
	position: absolute;
}

.u-under {
	overflow: hidden;
}

.uplot canvas {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.u-axis {
	position: absolute;
}

.u-legend {
	font-size: 14px;
	margin: auto;
	text-align: center;
}

.u-inline {
	display: block;
}

.u-inline * {
	display: inline-block;
}

.u-inline tr {
	margin-right: 16px;
}

.u-legend th {
	font-weight: 600;
}

.u-legend th>* {
	vertical-align: middle;
	display: inline-block;
}

.u-legend .u-marker {
	width: 1em;
	height: 1em;
	margin-right: 4px;
	background-clip: padding-box !important;
}

.u-inline.u-live th::after {
	content: ":";
	vertical-align: middle;
}

.u-inline:not(.u-live) .u-value {
	display: none;
}

.u-series>* {
	padding: 4px;
}

.u-series th {
	cursor: pointer;
}

.u-legend .u-off>* {
	opacity: 0.3;
}

.u-select {
	background: rgba(0, 0, 0, 0.07);
	position: absolute;
	pointer-events: none;
}

.u-cursor-x,
.u-cursor-y {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	z-index: 100;
}

.u-hz .u-cursor-x,
.u-vt .u-cursor-y {
	height: 100%;
	border-right: 1px dashed #607D8B;
}

.u-hz .u-cursor-y,
.u-vt .u-cursor-x {
	width: 100%;
	border-bottom: 1px dashed #607D8B;
}

.u-cursor-pt {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 0 solid;
	pointer-events: none;
	will-change: transform;
	z-index: 100;
	/*this has to be !important since we set inline "background" shorthand */
	background-clip: padding-box !important;
}

.u-axis.u-off,
.u-select.u-off,
.u-cursor-x.u-off,
.u-cursor-y.u-off,
.u-cursor-pt.u-off {
	display: none;
}
.u-label, u-value {
  font-size: 0.8em;
}